<v-container class="ma-lg-5">
    <h3>Notifikasi Penetapan Hari Sidang Pertama</h3>
    <v-alert v-if="loading.fetch">
        <v-alert-title>Loading data ...</v-alert-title>
    </v-alert>
    <v-alert class="bg-red" v-if="error.fetch">
        <v-alert-title>Error fetching data. {{error.fetch}}</v-alert-title>
    </v-alert>
    <v-row no-gutters v-if="!loading.fetch">
        <v-col v-for="(notifikasi,  index) in data.notifikasi">
            <v-card class="ma-md-2 ">
                <v-card-title class="bg-indigo">Event</v-card-title>
                <v-card-text>
                    Notifikasi ini berjalan saat petugas membuat penetapan majelis hakim pada menu penetapan di SIPP
                </v-card-text>
                <v-card-text>
                    Filename : {{notifikasi.filename}} <br>
                    Tujuan : {{notifikasi.tujuan.nama}}
                </v-card-text>
                <v-card-title class="bg-pink-lighten-1">Konfigurasi</v-card-title>
                <v-card-text>
                    Silahkan konfigurasi pesan notifikasi disini
                </v-card-text>
                <v-card-item>
                    <v-progress-linear v-if="loading.submit[index]" color="primary" indeterminate></v-progress-linear>
                    <v-textarea :disabled="loading.submit[index]" v-model="notifikasi.pesan"></v-textarea>
                    <v-card-subtitle class="text-red">*Kata di dalam tanda kurung adalah variabel</v-card-subtitle>
                    <v-btn :disabled="loading.submit[index]" :onclick="() => save(index)" class="mr-md-2" color="green">
                        Simpan
                    </v-btn>
                    <v-btn color="indigo" @click="() => {dialog = true; selectedIndex = index}">Test</v-btn>
                </v-card-item>

            </v-card>
        </v-col>
    </v-row>
    <v-row v-if="!loading.fetch">
        <v-col>
            <v-card class="mb-lg-5">
                <v-card-title class="bg-indigo">Riwayat</v-card-title>
                <v-card-item>
                    <v-list :height="600">
                        <v-list-item v-for="(log, i) in data.log_notifikasi" key="i">
                            <v-list-item-title>{{log.tujuan}}</v-list-item-title>
                            <v-list-item-text> - {{log.pesan}}</v-list-item-text>
                            <v-divider />
                        </v-list-item>
                    </v-list>
                </v-card-item>
            </v-card>
        </v-col>
    </v-row>
    <v-snackbar v-model="snackbar.open" :timeout="2000">
        {{snackbar.message}}
        <template v-slot:actions>
            <v-btn color="blue" variant="text" @click="snackbar.open = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    <v-dialog v-model="dialog" width="600">
        <v-card>
            <v-card-text>
                <v-text-field type="number" :rules="rules" v-model="nomorTelpPenerima"
                    label="Masukan nomor telepon penerima"></v-text-field>
                <v-btn @click="testNotif" color="indigo">Kirim</v-btn>
            </v-card-text>
            <v-card-actions>
                <v-btn color="primary" block @click="dialog = false">Close</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>
</v-container>